.App {
  width: 100vw;
  height: 100vh;
}

.slogan {
  padding-top: 90px;
  text-align: center;
  color: white;
  font-size: xxx-large;
  margin-bottom: 0px;
  padding-bottom: 2px;
  z-index: -2;
}

.parent {
  background-image: url(img/background7.jpg);
  background-repeat: no-repeat;
  height: 100vh;
  background-size: 100%;
  
}
.keyboard {
  padding-left: 750px;
  padding-top: 10px;
}
.desktop {
  padding-left: 605px;
  padding-top: 1px;
  height: 50vh;
}
.waterMark {
  padding-left: 30px;
}

ul {
  list-style-type: none;
  background-color: #282c34;
  padding: 15px; 
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  opacity: 0.9;
  position: relative;

}

li a {
  color: white;
  font-size: large;
}

.templates {
  padding-left: 610px;
}

.login {
  padding-right: 30px;
  padding-left: 610px;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
